@import "https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap";

html, body {
  font-family:Montserrat !important;
}


h1, h2, h3, h4, h5, h6 {
  color: rgb(234, 78, 85) !important;
}

nav.navbar {
  background-color: rgb(234, 78, 85) !important;
}

form button {
  background-color:#fff !important;
  --bs-btn-border-color: none !important;
}

form button:hover {
  color:  rgb(234, 78, 85) !important;
}

form input.form-control  {
  font-size:24px;
  border: 0px solid #ced4da ;

}

#yesAnswer,
#noAnswer{
  margin-left:40px;
  color:#ffffff;
  width:80px;
  padding:9px;
border: 0px solid #ced4da !important;
 background-color: rgb(234, 78, 85) !important;
}

#oppo_question {
  margin-left:40px;
}

#qAndAFromYou {
  display:none;
}


#oppo_answer {
  display:none;
}

.album {
  margin-top: 30px;
}

article {
  cursor: pointer;
}

article.selected {
  opacity: 30%;
}

.orakel {
  margin-top:10px;
  gap: 1rem;
}

.orakel img {
  max-height: 20rem;
}

div.card {
  --bs-card-height: 18em !important;
}


.card-text {
float: left;
height:20px;
}


.card-text img {
 max-width:50px;
}

.card button {
     position: relative;
    /* flex: 1 1 auto; */
    float: right;
    /* display: block; */
    top: 0;
    margin: 0 0 0px 50px;
}

#this_one {
margin-top:100px;
transition: margin 5s;

}

.album.hide {
  margin-top:-480px;
}

#qAndAForYou {
  margin-top:100px;
  font-size:20px;
}

form input.nee {
  background-color:#ffc9e0;
  color:#ff4c4c;
}

form input.ja {
  background-color:#bbffc3;
  color:#0b280a;
}
